<h2>Patients</h2>

<table>
  <tr>
    <th>Name: </th>
    <th>Number of Appointments:</th>
  </tr>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.appointments.count %></td>
      </tr>
    <% end %>
</table>