<h2><%= @doctor.name %></h2>

<h3><%= @doctor.department %></h3>

<h4>Appointments:</h4>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Patient</th>
  </tr>
  <% @doctor.appointments.each do |app| %>
    <td><%= app.appointment_datetime.strftime("%B %d, %Y") %></td>
    <td></td>
    <td></td>
  <% end %>
</table>
