<h2><%= @appt.appointment_datetime.strftime("%B %d, %Y") %> at <%= @appt.appointment_datetime.strftime("%H:%M") %></h2>


<%= link_to @appt.doctor.name, doctor_path(@appt.doctor) %><br>
<%= link_to @appt.patient.name, patient_path(@appt.patient) %><Br>
